<div class="play__container">
  <app-results-history class="play__results-history" (change)="navChanged($event)"></app-results-history>

  <ng-container>
    <div class="play mat-elevation-z2">
      <app-tracking-html #board></app-tracking-html>
<!--      <div #board class="board__container mat-elevation-z4">-->
<!--        <div class="board">-->
<!--          <span class="board__x-axis"></span>-->
<!--          <span class="board__y-axis"></span>-->

<!--          <ng-container *ngFor="let track of tracking">-->
<!--          <span-->
<!--            class="board__entry"-->
<!--            [attr.hidden]="track.hide"-->
<!--            [attr.x]="track.x"-->
<!--            [attr.y]="track.y"-->
<!--            [attr.pizzas]="track.pizzas"-->
<!--            [attr.did]="track.dId"-->
<!--            [attr.order]="track.order"-->
<!--          >&nbsp;</span>-->
<!--          </ng-container>-->
<!--        </div>-->
<!--      </div>-->


    </div>

    <app-tracking-options
      [options]="board.options"
      (change)="board.filter()"
      *ngIf="board.tracking.length"></app-tracking-options>
  </ng-container>
</div>
