@use '../utilities/responsive' as res;

.tracking-options__options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 1em;
  margin-top: 1em;

  > * {
    min-width: 128px;
    max-width: 128px;
    padding: 0 0.25em;
    border-radius: 1em;
    background-color: #eee;

    label {
      display: block;
      text-align: center;
      margin: 0 -0.25em;
      background-color: #ccc;
      border-radius: 1em 1em 0 0;
    }

    @include res.mobile() {
      min-width: 84px;
      max-width: 84px;
    }

    @include res.mobile_landscape() {
      min-width: 90px;
      max-width: 90px;
      margin: 0.5em;
    }
  }

  .tracking-options__deliverees {
    > .mat-button-toggle {
      border-width: 0;
      border-radius: 1em;
      background-color: transparent;

      .mat-button-toggle * {
        line-height: 36px;
        max-height: 36px;
      }

      .mat-button-toggle-label-content {
        padding: 0 9px;

        @include res.mobile() {
          padding: 0 5px;
        }
      }
    }
  }

  @include res.mobile() {
    .tracking-options__slider {
      height: 48px;
      min-width: 88px;
    }
  }

  @include res.mobile_landscape() {
    flex-wrap: wrap;
    margin-top: 9em;
    margin-left: 1em;
    max-width: calc(50% - 4em);

    .tracking-options__slider {
      height: 48px;
      min-width: 92px;
    }
  }
}
