@use '../utilities/responsive' as res;

.history {
  @include res.mobile {
    margin-top: 2.5em;
  }

  .mat-card {
    display: inline-block;
    margin: 0.5em;
  }

  .view-mode {
    position: absolute;
    right: 0;
    top: 0;
  }
}
