@use '../utilities/responsive' as res;

@mixin coordinates() {
  @for $i from -200 through 200 {
    *[x='#{$i}'] { --left: #{$i}; }
    *[y='#{$i}'] { --top: #{-1 * $i}; }
  }
}

.play__board {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 2em;
  bottom: 1em;
  background-color: #eee;
  border: 2px solid blue;
  border-radius: 1em;

  span {
    position: absolute;
    background-color: green;
    opacity: 0.1;
    display: inline-block;
    left: calc((var(--xoffset) + (-1 * var(--mult)/2) + (var(--mult) * var(--left))) * 1px);
    top: calc((var(--yoffset) + (-1 * var(--mult)/2) + (var(--mult) * var(--top))) * 1px);
    width: calc(var(--mult) * 1px);
    height: calc(var(--mult) * 1px);
    border-radius: 100%;

    &[hidden=true] { visibility: hidden }
    &[did='1'] { background-color: green };
    &[did='2'] { background-color: blue };
    &[did='3'] { background-color: black };
    &[did='4'] { background-color: white };
  }

  .x-axis {
    position: absolute;
    left: 0;
    top: calc(var(--yoffset)  * 1px);
    height: 2px;
    width: 100%;
    background-color: #333;
  }

  .y-axis {
    position: absolute;
    top: 0;
    left: calc(var(--xoffset)  * 1px);
    height: 100%;
    width: 2px;
    background-color: #333;
  }

  @include coordinates();

}

.play {
  position: absolute;
  bottom: 1em;
  top: 14em;
  left: 1em;
  right: 1em;
  background-color: #ffdddd;
  border-radius: 1em;

  @include res.mobile {
    left: 0;
    top: 11em;
    right: 0;
    bottom: 0;
    border-radius: 0.25em;

  }
}

.play__options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  label {
    display: block;
    text-align: center;
  }

  @include res.mobile() {
    .play__slider {
      height: 48px;
      min-width: 80px;
    }
  }
}

.play--heading {
  text-align: center;
}
