@use '../utilities/responsive' as res;

@mixin coordinates() {
  @for $i from -200 through 200 {
    *[x='#{$i}'] { --left: #{$i}; }
    *[y='#{$i}'] { --top: #{-1 * $i}; }
  }
}

.play__container {
  margin-top: 1em;

  @include res.mobile_landscape() {
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    .tracking-options {
      margin-top: 9em;
    }
  }
}

@include res.mobile_landscape() {
  .play__results-history {
    position: absolute;
    left: 1em;
    top: 2em;
    width: calc(50% - 4em);
  }
}

.play__board {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 2em;
  bottom: 1em;
  background-color: #eee;
  border: 2px solid blue;
  border-radius: 1em;

  span {
    position: absolute;
    background-color: green;
    opacity: 0.1;
    display: inline-block;
    left: calc((var(--xoffset) + (-1 * var(--mult)/2) + (var(--mult) * var(--left))) * 1px);
    top: calc((var(--yoffset) + (-1 * var(--mult)/2) + (var(--mult) * var(--top))) * 1px);
    width: calc(var(--mult) * 1px);
    height: calc(var(--mult) * 1px);
    border-radius: 100%;

    &[hidden=true] { visibility: hidden }
    &[did='1'] { background-color: var(--did-1-color) };
    &[did='2'] { background-color: var(--did-2-color) };
    &[did='3'] { background-color: var(--did-3-color) };
    &[did='4'] { background-color: var(--did-4-color) };
  }

  .x-axis {
    position: absolute;
    left: 0;
    top: calc(var(--yoffset)  * 1px);
    height: 2px;
    width: 100%;
    background-color: #333;
  }

  .y-axis {
    position: absolute;
    top: 0;
    left: calc(var(--xoffset)  * 1px);
    height: 100%;
    width: 2px;
    background-color: #333;
  }

  @include coordinates();
}

.play {
  position: absolute;
  bottom: 1em;
  top: 11.5em;
  left: 1em;
  right: 1em;
  background-color: #ffdddd;
  border-radius: 1em;

  @include res.mobile {
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.25em;
  }

  @include res.mobile_landscape() {
    left: calc(50% - 2em);
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.play--heading {
  text-align: center;
}
