@use '../utilities/responsive' as res;

.reports {
  position: relative;
  margin-top: 2em;

  *[hidden] {
    display: none;
  }

  .reports__loading {
    text-align: center;
  }

  @include res.mobile() {
    .mat-row {
      min-height: 32px;
    }
  }
}
