<div class="tracking-options">
  <div class="tracking-options__container mat-elevation-z2" *ngIf="options.deliverees > 1">
    <label>Deliverees</label>
    <!-- todo selected buttons view is glitching hard to tell what is toggled on -->
    <mat-button-toggle-group [ngClass]="'tracking-options__buttons'" name="deliverees" multiple hideMultipleSelectionIndicator aria-label="Toggle Deliverees to Show" [attr.deliverees]="options.deliverees">
      <mat-button-toggle
        *ngFor="let item of options.showDel.slice(0, options.deliverees); let i = index"
        [checked]="options.showDel[i]"
        (change)="toggleChanged(i)"
      >
        {{i + 1}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="tracking-options__container mat-elevation-z2">
    <label>Pizzas Min</label>
    <mat-slider
      class="tracking-options__slider"
      [displayWith]="formatLabel"
      min="1"
      [max]="options.pmax"
      [discrete]="true"
      aria-label="pizzas"
    >
      <input matSliderThumb [(ngModel)]="options.pizzas" (change)="endChanged()">
    </mat-slider>
  </div>

  <div class="tracking-options__container mat-elevation-z2">
    <label>Orders Range</label>
    <mat-slider
      class="tracking-options__slider"
      [displayWith]="formatLabel"
      min="1"
      [max]="options.max"
      [discrete]="true"
      aria-label="entry"
    >
      <input matSliderStartThumb [(ngModel)]="options.start" (change)="startChanged()">
      <input matSliderEndThumb [(ngModel)]="options.end" (change)="endChanged()">
    </mat-slider>
  </div>
</div>
