<ng-container *ngIf="inputs">
  <div class="inputs mat-elevation-z1">
    <div>
      <label>Deliverees: </label>
      <mat-button-toggle-group name="deliverees" aria-label="Deliverees" [(value)]="inputs.deliverees">
        <mat-button-toggle [value]="1">1</mat-button-toggle>
        <mat-button-toggle [value]="2">2</mat-button-toggle>
        <mat-button-toggle [value]="3">3</mat-button-toggle>
        <mat-button-toggle [value]="4">4</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div>
      <label>Entry Mode: </label>
      <mat-button-toggle-group name="mode" aria-label="Input Mode" [(value)]="selectedMode">
        <mat-button-toggle [value]="modeEnum.Enter">Enter</mat-button-toggle>
        <mat-button-toggle [value]="modeEnum.Select">Select</mat-button-toggle>
        <mat-button-toggle [value]="modeEnum.File">File</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div>
      <label>Dispatch: </label>
      <br />

      <ng-container *ngIf="selectedMode === modeEnum.Enter">
        <textarea [(ngModel)]="inputs.dispatch" cols="40" rows="10">
        </textarea>
      </ng-container>

      <ng-container *ngIf="selectedMode === modeEnum.Select">
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="inputs.dispatch">
            <mat-option *ngFor="let val of DISPATCHES" [value]="val">
              {{ val }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="selectedMode === modeEnum.File">
        <input type="file" (change)="getFile($event)" />
      </ng-container>
    </div>
  </div>
</ng-container>
