@use './utilities/responsive' as res;
@use './layouts';
@use './components';
@use './variables';

html, body, #root, .app-root {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-root {
  --gap: 1.5em;

  @include res.mobile() {
    --gap: 0.75em;
  }

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);

}
