<div #board class="tracking__container mat-elevation-z4">
  <div class="tracking">
    <span class="tracking__x-axis"></span>
    <span class="tracking__y-axis"></span>

    <ng-container *ngFor="let track of tracking; let i = index">
          <span
            class="tracking__entry"
            [attr.index]="i"
            [attr.hidden]="track.hide"
            [attr.x]="track.x"
            [attr.y]="track.y"
            [attr.pizzas]="track.pizzas"
            [attr.did]="track.dId"
            [attr.order]="track.order"
            (mouseenter)="onMouseenterEntry($event)"
            (mouseleave)="onMouseleaveEntry($event)"
          >&nbsp;</span>
    </ng-container>
  </div>
</div>
