<div #board class="tracking__container mat-elevation-z4">
  <div class="tracking">
    <span class="tracking__x-axis"></span>
    <span class="tracking__y-axis"></span>

    <ng-container *ngFor="let track of tracking; let i = index">
      <span
        class="tracking__entry"
        [attr.data-index]="i"
        [attr.data-hidden]="track.hide"
        [attr.data-x]="track.x"
        [attr.data-y]="track.y"
        [attr.data-pizzas]="track.pizzas"
        [attr.data-did]="track.dId"
        [attr.data-order]="track.order"
        [ngStyle]="{'--left': track.x, '--top': (-1 * track.y!)}"
        (mouseenter)="onMouseenterEntry($event)"
        (mouseleave)="onMouseleaveEntry($event)"
      >&nbsp;</span>
    </ng-container>
  </div>
</div>
