<div #board class="tracking__container mat-elevation-z4">
  <div class="tracking"
       (dblclick)="onDblclick($event)"
  >
    <span class="tracking__x-axis"></span>
    <span class="tracking__y-axis"></span>

    <ng-container *ngFor="let track of tracking; let i = index">
          <span
            class="tracking__entry"
            [attr.index]="i"
            [attr.hidden]="track.hide"
            [attr.x]="track.x"
            [attr.y]="track.y"
            [attr.pizzas]="track.pizzas"
            [attr.did]="track.dId"
            [attr.order]="track.order"
            (mouseenter)="onMouseenterEntry($event)"
            (mouseleave)="onMouseleaveEntry($event)"
          >&nbsp;</span>
    </ng-container>
  </div>
</div>

<h3 class="tracking--heading">
  <span *ngIf="tracking.length">
    <span *ngIf="hover">
      Entry {{ hover.x }}, {{ hover.y }} with {{ hover.pizzas }} pizzas.
    </span>
    <span *ngIf="!hover">
      Tracking from {{ options.start }} to {{ floor(options.end) }} of {{ options.max }}.
    </span>
  </span>
  <span *ngIf="!tracking.length">
    Processing...
  </span>
</h3>

<div class="tracking__pan-zoom">
  <button mat-mini-fab aria-label="Zoom In"
          [disabled]="disableZoom(1)"
          (click)="zoom(1)">
    <mat-icon>add</mat-icon>
  </button>

  <button mat-mini-fab aria-label="Zoom In"
          [disabled]="disableZoom(-1)"
          (click)="zoom(-1)">
    <mat-icon>remove</mat-icon>
  </button>
</div>
