@use '../utilities/responsive' as res;

.history {
  display: contents;

  .results {
    padding: 0 var(--gap);
  }

  &-buttons {
    border: none !important;
    display: flex !important;
    padding: 0 var(--gap);
    justify-content: end;
  }

  .history__table {
    padding: 0 var(--gap);
    margin-bottom: var(--gap);
    overflow: auto;
  }
}
