@use '../utilities/responsive' as res;

.play__container {
  margin-top: 1em;
}

.play__results-history {
}

.play {
  flex-grow: 1;
  position: relative;
  padding: 0;
  background-color: #FFDDDD !important;
  border-radius: 1em 1em 0 0;
}

.react18 .play {
  background-color: #61DAF666 !important;
}

.angular11 .play {
  background-color: #FFDDDD !important;
}

