@use '../utilities/responsive' as res;

.results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  > div {
    white-space: nowrap;
    line-height: 2em;

    @include res.mobile {
      line-height: 1em;
    }
  }
}

.compressed {
  .results {
    flex-direction: row;
    min-height: 2.5em;
    align-items: center;

    > div {
      margin: 2em;
      border-radius: 1em;
    }

    label {
      margin-right: 0.5em;
    }
  }

  .compressed--hide {
    display: none;
  }
}

.results__dispatch {
  max-width: 10em;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.results-history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -1em 0 1em;

  .results-history__history {
    margin: 0 1em;
    flex-grow: 2;
    border-radius: 1em;
  }

  .compressed {
    .results {
      flex-direction: row;
      justify-content: space-around;
      background-color: #eee;
      padding: 0 1em;
      border-radius: 1em;
      min-height: 2.5em;
      align-items: center;

      > div {
        margin: 0;
      }

      label {
        margin-right: 0.5em;
      }

      @include res.mobile {
        padding: 0 0.25em;
        border-radius: 0.5em;
      }
    }

    .compressed--hide {
      display: none;
    }
  }
}

