@use '../utilities/responsive' as res;

.results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  > div {
    white-space: nowrap;
  }
}

.compressed {
  .results {
    flex-direction: row;
    min-height: 2.5em;
    align-items: center;
    gap: var(--gap);

    label {
      margin-right: 0.5em;
    }

    .compressed--hide {
      display: none;
    }
  }
}

.results__dispatch {
  max-width: 10em;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.results-history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 var(--gap);
  gap: var(--gap);

  .results-history__history {
    flex-grow: 2;
    border-radius: 1em;
  }

  .compressed {
    .results {
      flex-direction: row;
      justify-content: space-around;
      background-color: #eee;
      padding: 0 var(--gap);
      border-radius: 1em;
      min-height: 3em;
      max-height: 3em;
      align-items: center;
      column-gap: 1em;

      label {
        margin-right: 0.5em;
      }

      @include res.mobile {
        padding: 0 0.25em;
        border-radius: 0.5em;
      }
    }

    .compressed--hide {
      display: none;
    }
  }
}

