@use '../utilities/responsive' as res;

.tracking-options {
  display: flex;
  gap: 2em;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 1em;
  max-width: calc(100% - 2em);
  margin: 0 auto;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 4em;
    min-width: 12em;
    max-width: 33%;
    border-radius: 1em;
    background-color: #eee;

    label {
      display: block;
      align-self: stretch;
      text-align: center;
      padding: 0.25em;
      background-color: #ccc;
      border-radius: 1em 1em 0 0;
    }

    @include res.mobile() {
      min-width: 30%;
      max-width: 30%;
    }
    //
    //@include res.mobile_landscape() {
    //  margin: 1em;
    //}
  }

  &__slider {
    max-width: 80%;
  }

  &__buttons {
    width: 100%;
    margin: 0.5em;
    justify-content: space-around;
    border-radius: 0 0 1em 1em;

    button {
      min-width: 20% !important;
      max-width: 20% !important;
      padding-left: 0;
      padding-right: 0;

      > span {
        border-radius: 1em !important;
      }
    }

    button.contained:nth-child(1) {
      background-color: var(--did-1-color);
    }

    button.contained:nth-child(2) {
      background-color: var(--did-2-color);
    }

    button.contained:nth-child(3) {
      background-color: var(--did-3-color);
    }

    button.contained:nth-child(4) {
      background-color: var(--did-4-color);
    }
  }
}
