@use '../utilities/responsive' as res;

.toolbar {
  box-sizing: border-box;
  width: 100%;
  background-color: #eee;
  color: #333;
  border: 2px solid #ddd;
  display: grid;
  grid-template-columns: 3.5em auto 3.5em;
  grid-template-rows: auto auto;
  grid-template-areas:
    "logo title inputs"
    "logo links inputs";

  .toolbar__logo { grid-area: logo }
  .toolbar__title { grid-area: title }
  .toolbar__inputs { grid-area: inputs }
  .toolbar__links { grid-area: links }
}

.toolbar__logo {
  grid-area: logo;
  pointer-events: none;
  height: 32px;
  padding: 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: spin infinite 60s linear;
  }

  .reverse-spin {
    animation: reverse-spin infinite 60s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes reverse-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.toolbar__links {
  display: flex;
  flex-direction: row;
  gap: 1em;
  max-height: 20px;

  a,
  a:visited {
    color: #333;
    text-decoration: none;
  }

  a {
    padding: 0.125em 0.5em 0.5em;
    font-weight: normal;
    border-radius: 0.5em 0.5em 0 0;
    min-height: 14px;

    &.active,
    &.active:hover {
      color: #00e;
      background-color: #fff;
    }

    &.active:hover {
      color: #88e;
    }

    &:hover {
      background-color: #ddd;
    }
  }
}

.toolbar__title {
  text-align: center;
}

.toolbar__inputs {
  margin-top: 0.5em;
}
