/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  color: #333;
  padding-right: 2em;
  border: 2px solid #ddd;

  .menu {
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-weight: bolder;
  }

  a,
  a:visited {
    color: #333;
    text-decoration: none;
  }

  a[mat-list-item] {
    padding: 0.5em;
    font-weight: normal;
    border-radius: 1em;

    &.active {
      font-weight: bold;
      color: #8888ff;
    }

    &:hover {
      background-color: #fff;
    }
  }

  > * {
    line-height: 2em;
  }

  img {
    margin: 0 16px;
  }
}

.content {
  min-width: 640px;
  margin: 2em;
  height: calc(100% - 120px);

  > mat-card {
    height: calc(100% - 40px);
  }
}

.results {
  display: flex;
  flex-direction: column;
  min-width: 12em;
  max-width: 12em;

  > div {
    margin: 0.25em 0;
  }
}

.results__dispatch {
  max-width: 10em;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.results-history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -1em 0 1em;

  app-results {
    margin: 0 1em;
    flex-grow: 2;


  }
}

.compressed {
  .results {
    flex-direction: row;
    justify-content: space-between;
    min-width: auto;
    max-width: none;
    background-color: #eee;
    padding: 0 1em;
    border-radius: 1em;
    box-shadow:
      0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14),
      0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  }

  .compressed--hide {
    display: none;
  }
}

.inputs-modal-state {
  max-width: 25em;
  display: flex;
  flex-direction: row;

  span {
    line-height: 16px;
  }
}

.inputs-modal {
  min-height: 40em;
  max-height: 40em;

  textarea {
    min-height: 25em;
    max-height: 25em;
  }
}

app-history {
  .mat-card {
    display: inline-block;
    margin: 0.25em;
  }

  .view-mode {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@mixin coordinates() {
  @for $i from -200 through 200 {
    *[x='#{$i}'] { --left: #{$i}; }
    *[y='#{$i}'] { --top: #{-1 * $i}; }
  }
}

.play__board {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 2em;
  bottom: 1em;
  background-color: #eee;
  border: 2px solid blue;
  border-radius: 1em;

  span {
    position: absolute;
    background-color: green;
    opacity: 0.1;
    display: inline-block;
    left: calc((var(--xoffset) + (-1 * var(--mult)/2) + (var(--mult) * var(--left))) * 1px);
    top: calc((var(--yoffset) + (-1 * var(--mult)/2) + (var(--mult) * var(--top))) * 1px);
    width: calc(var(--mult) * 1px);
    height: calc(var(--mult) * 1px);
    border-radius: 100%;

    &[did='1'] { background-color: green };
    &[did='2'] { background-color: blue };
    &[did='3'] { background-color: black };
    &[did='4'] { background-color: white };

  }

  .x-axis {
    position: absolute;
    left: 0;
    top: calc(var(--yoffset)  * 1px);
    height: 2px;
    width: 100%;
    background-color: #333;
  }

  .y-axis {
    position: absolute;
    top: 0;
    left: calc(var(--xoffset)  * 1px);
    height: 100%;
    width: 2px;
    background-color: #333;
  }

  @include coordinates();

}

.play {
  position: absolute;
  bottom: 1em;
  top: 14em;
  left: 1em;
  right: 1em;
  background-color: #ffdddd;
  border-radius: 1em;
}

.play__options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  label {
    display: block;
    text-align: center;
  }
}

.play--heading {
  text-align: center;
}

.reports {
  position: relative;
  margin-top: 2em;

  *[hidden] {
    display: none;
  }

  .reports__loading {
    text-align: center;
  }

}
