/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  color: #333;
  padding-right: 2em;
  border: 2px solid #ddd;

  .menu {
    display: flex;
    justify-content: space-between;
  }

  .title {
    font-weight: bolder;
  }

  a,
  a:visited {
    color: #333;
    text-decoration: none;
  }

  a[mat-list-item] {
    padding: 0.5em;
    font-weight: normal;
    border-radius: 1em;

    &.active {
      font-weight: bold;
      color: #8888ff;
    }

    &:hover {
      background-color: #fff;
    }
  }

  > * {
    line-height: 2em;
  }

  img {
    margin: 0 16px;
  }
}

.content {
  margin: 2em;
  height: calc(100% - 120px);

  > mat-card {
    height: calc(100% - 40px);
  }
}

.results {
  min-width: 20em;
  max-width: 20em;
}

.results__dispatch {
  max-width: 10em;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inputs-modal-state {
  max-width: 25em;
  display: flex;
  flex-direction: row;

  span {
    line-height: 16px;
  }
}

.inputs-modal {
  min-height: 40em;
  max-height: 40em;

  textarea {
    min-height: 25em;
    max-height: 25em;
  }
}

app-history {
  .mat-card {
    display: inline-block;
    margin: 0.25em;
  }

  .view-mode {
    position: absolute;
    right: 0;
    top: 0;
  }
}



